@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<h2>With ANT Design</h2>
<h3>SimpleSelect</h3>

<SimpleSelect DefaultValue="lucy" Style="width:120px;">
    <SelectOptions>
        <SimpleSelectOption Value="jack" Label="Jack"></SimpleSelectOption>
        <SimpleSelectOption Value="lucy" Label="Lucy"></SimpleSelectOption>
        <SimpleSelectOption Value="disabled" Label="Disabled" Disabled></SimpleSelectOption>
        <SimpleSelectOption Value="Yiminghe" Label="yiminghe"></SimpleSelectOption>
    </SelectOptions>
</SimpleSelect>